<%= form_for(@micropost) do |f| %>
  <% if @micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
      <% @micropost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

  <% end %>
<table>
  <tr>
    <div class="conversation_field">
    <%= f.label :content, "Continue the conversation" %><br />
    <%= f.text_area :content %>
  </div></tr>
  <tr><div class="name_field">
    <%= f.label :name, "Add your name" %><br />
    <%= f.text_field :name %>
  </div></tr>
<tr>  <div class="actions">
    <%= f.submit "Add to Conversation" %>
  </tr></div>
<% end %>
</table>