<h1>Listing microposts</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% i=1 %>
<% @microposts.each do |micropost| %>
<div class = "<%= if i%2==0 {"odd"} else {"even"} %>">
  <tr>
    <td><%= micropost.content %></td>
    <td><%= micropost.name %></td>
    <td><%= link_to 'Show', micropost %></td>
    <td><%= link_to 'Edit', edit_micropost_path(micropost) %></td>
    <td><%= link_to 'Destroy', micropost, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
</div>
<% i+1 %>
<% end %>
</table>

<br />

<%= link_to 'New Micropost', new_micropost_path %>
